html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    height: calc(100vh - 164px);
    font-family: 'Tenali Ramakrishna';
}

main {
    flex: 1 0 auto;
  }

.offset {
    margin-top: 180px;
}

/* Home page elements */

  .explore-button {
    border: 1px solid silver;
    background: #A77509;
    color: black;
    width: 180px;
    height: 60px;
    font-size: 25px;
}

.explore-button:hover {
    background: brown;
}

.bronze-color {
    color: brown;
}

.gold-color {
    color: #A77509;
}

/* Scroll up button */

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.add-to-cart {
    height: 44px;
    font-size: 20px;
}

a.category-badge > span.badge:hover {
    background: #000000 !important;
    color: #fff !important;
}

.login-btns {
    font-size: 20px;
}

.btn-file {
    font-size: 25px;
}

.add-btn:hover {
    background-color: white !important;
    color: black !important;
}

/* Input fields  */

textarea[name="description"],
#id_login,
#id_password,
#id_email,
#id_email2,
#id_username,
#id_password1,
#id_password2,
.input-flds,
.input-group-text { 
    font-size: 20px !important;
    padding-bottom: 0 !important;
}

label[for="id_login"],
label[for="id_password"],
label[for="id_email"],
label[for="id_email2"],
label[for="id_username"],
label[for="id_password1"],
label[for="id_password2"] {
    display: none;
}

#sort-selector {
    height: 30px;
}

#id_remember {
    margin-top: 0;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.cart-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-close {
    cursor: pointer;
    pointer-events: auto;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------- Media Queries */

/* For large screens size from 1530px wide and down */
@media screen and (max-width: 1530px) {

    #unique {
        margin: 0 !important;
        padding-right: 0 !important;
    }
}

/* For large screens size from 1350px wide and down */
@media screen and (max-width: 1350px) {

    #add-buttons {
        width: 40% !important;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

    .container {
      max-width: 80%;
    }
}

/* For large screens size from 1000px wide and down */
@media screen and (max-width: 1000px) {

    #history-wrap {
        padding-top: 30px;
    }

    #forgot-wrap {
        width: 30%;
    }

    #signup_form {
        width: 40%;
    }
}

/* For small screens size from 767px wide and down */
@media screen and (max-width: 767px) {

    #explore-wrap {
        position: absolute;
        align-items: center;
        bottom: 20%;
        right: 10%;
        margin-left: 0 !important;
    }

    #home-pic-wrap {
        align-items: center;
        margin-left: 0 !important;
    }

    #add-buttons {
        width: 60% !important;
        align-items: center;
    }
    
    #login-wrap {
        width: 60% !important;
    }

    #forgot-wrap {
        width: 40%;
    }

    #signup_form {
        width: 50%;
    }

    .indicates-required {
        float: left;
    }

    #mc_embed_signup {
        width: 200% !important;
    }

    .btn-close {
        float: right;
    }

}

/* For small screens size from 480px wide and down */
@media screen and (max-width: 480px) {

    #add-buttons {
        width: 100% !important;
        margin-left: 10%;
    }

    #login-wrap {
        width: 60% !important;
    }

    #forgot-wrap {
        width: 50%;
    }

    #signup_form {
        width: 60%;
    }
}

/* For small screens size from 350px wide and down */
@media screen and (max-width: 350px) {

    .message-container,
    .custom-toast {
       width: 92%;
    }

    #forgot-wrap {
        width: 60%;
    }

    #signup_form {
        width: 70%;
    }
}