html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    height: calc(100vh - 164px);
    font-family: 'Tenali Ramakrishna';
}

main {
    flex: 1 0 auto;
  }

.offset {
    margin-top: 180px;
}

/* Home page elements */

  .explore-button {
    border: 1px solid silver;
    background: #A77509;
    color: black;
    width: 180px;
    height: 60px;
    font-size: 25px;
}

.explore-button:hover {
    background: brown;
}

.bronze-color {
    color: brown;
}

.gold-color {
    color: #A77509;
}

/* Scroll up button */

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }